pip==22.0.4
beautifulsoup4==4.11.1
bs4==0.0.1
Cmake==3.22.4
Pillow==9.1.0
wheel==0.37.1
dlib==19.24.0
face-recognition
face-recognition-models==0.3.0
Flask==2.1.2
google==3.0.0
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.9.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
google-pasta==0.2.0
googleAPI==0.1.0
googleapis-common-protos==1.56.3
Jinja2==3.1.2
numpy==1.22.3
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
requests==2.27.1
wikipedia==1.4.0