<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div >
        <nav class="navbar navbar-dark bg-primary navbar-expand-md">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">imagePediA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <div> -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active a-hover" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active a-hover" aria-current="page" href="/about">About</a>
                  </li>
              </div>
            </div>
          </nav>
    </div>
    <form action="/search" method="POST" enctype='multipart/form-data'>
          <div class="search">
              <input id="paste-link" type="text" class="search-input" placeholder="Paste Image Link" name="searchInputByLink" onfocus="clearFileField()"/><br><br>
              <label for="upload-image">Or Upload Image :</label>
              <input id='upload-image' type="file" placeholder="Upload Image" name="searchinputByUploading" accept="image/*" onfocus="clearLinkField()" />
              <button type="submit" class="btn" id='search-btn'>
                Search
              </button>
          </div>
      </form>
      <script>
        var pasteLink = document.getElementById('paste-link');
        var uploadImage = document.getElementById('upload-image');
        var searchBtn = document.getElementById('search-btn');
        if((pasteLink.value == null || pasteLink.value == '') || (uploadImage.value != null && uploadImage.value != '')) {
          searchBtn.style.pointerEvents = 'none';
        }
        
        pasteLink.addEventListener('change', ()=>{
          if(pasteLink.value != null && pasteLink.value != ''){
            searchBtn.style.pointerEvents = 'auto';

          }else{
            searchBtn.style.pointerEvents = 'none';
          }
        })
        uploadImage.addEventListener('change', ()=>{
          if(uploadImage.value != null && uploadImage.value != ''){
            searchBtn.style.pointerEvents = 'auto';
          }
          else {
            searchBtn.style.pointerEvents = 'none';
          }
        })

        function clearFileField() {
            console.log('paste link input field focused')
            uploadImage.blur()
            uploadImage.value = ''
        }
        function clearLinkField() {
            console.log('upload image input field focused')
            pasteLink.value = ''
            pasteLink.blur()
            
        }
        </script>
</body>
</html>