<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{face_name}}</title>
    
    
    <!-- Material-UI CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/searchpage.css">
    
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/" id="home-a"><i class="material-icons">home</i></a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="container-photo">
            <img src='/static/img/{{img_name}}' alt="Image">
        </div>
        <div class="container-text">
            {{face_name}}<br>{{face_profession}}
        </div>
        <div class="container-wiki">
            <p id="text">
                {{wiki_text}}
            </p>
            <a style="justify-content: center; margin: auto auto; display: flex;" href="{{wiki_url}}" target="_blank">more</a>
        </div>
        <div class="container-media">
            <a class="button-28" href="/tweets" id="tweets-a">Tweets</a>
            {% if face_profession in ['Actor', 'Actress', 'Singer'] %} 
                <a class="button-28" href="/youtube" id="songs-a">Songs</a>
            {% else %}
                <a class="button-28" href="/youtube" id="songs-a">Videos</a>
            {% endif %}
            <a class="button-28" href="/movies" id="movies-a">Movies</a>
        </div>
    </div>
    <div>
        <p>Result not match <a href="/notFound">Click Here</p>
    </div>
    <script>
        movies_a = document.getElementById('movies-a')
        profession = '{{face_profession}}'
        if(profession == 'Actor' || profession == 'Actress') {
            movies_a.style.display = 'block'    
        }

    </script>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
