<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if face_profession in ['Actor', 'Actress', 'Singer'] %} 
            {{ face_name }} Songs
        {% else %}
            {{ face_name }} Videos
        {% endif %}
    </title>
    
    <!-- Material-UI CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="../static/css/youtubelist.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/"><img src="../static/assets/logo.png" alt="YouTube Logo"></a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Back</a></li>
        </ul>
    </nav>

    <div class="container">
        {% if face_profession in ['Actor', 'Actress', 'Singer'] %} 
            <h2>Songs</h2>
        {% else %}
            <h2>Videos</h2>
        {% endif %}

        {% if all_yt_songs|length==0 %} 
        <div class="alert alert-dark" role="alert"> No Video found.</div>
        {% else %}
        <table class="highlight">
            <tbody>
                {% for song in all_yt_songs %}
                <tr>
                    <td><a href="{{song.song_url}}" target="_blank"><img src="{{song.thumbnail_url}}" alt="img"></a></td>
                    <td class="song-title">{{song.song_name}}</td>
                    <td><a href="{{song.song_url}}" target="_blank"><button>Play</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
